<%= form_with(model: @student, url: path) do |form| %>
  <div class="row pr-3 pb-4">
    <div class="col-3">
      <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
    </div>

    <div class="col-3">
      <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-6">
      <%= form.text_field :date_of_birth, class: "form-control", placeholder: "Date of Birth" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-6">
      <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-6">
      <%= form.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-3">
      <%= form.text_field :guardian_first_name, class: "form-control", placeholder: "Guardian First Name" %>
    </div>

    <div class="col-3">
      <%= form.text_field :guardian_last_name, class: "form-control", placeholder: "Guardian Last Name" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-6">
      <%= form.text_field :guardian_phone_number, class: "form-control", placeholder: "Guardian Phone Number" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-3">
      <%= form.text_field :emergency_contact_first_name, class: "form-control", placeholder: "Emergency Contact First Name" %>
    </div>

    <div class="col-3">
      <%= form.text_field :emergency_contact_last_name, class: "form-control", placeholder: "Emergency Contact Last Name" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-6">
      <%= form.text_field :emergency_contact_phone_number, class: "form-control", placeholder: "Emergency Contact Phone Number" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-3">
      <%= form.text_field :city, class: "form-control", placeholder: "City" %>
    </div>

    <div class="col-3">
      <%= form.select(
        :state,
        Carmen::Country.coded("US").subregions.typed("state").map { |state| [state.name, state.code] },
        { include_hidden: false, selected: @student.state },
        { 'data-controller' => 'autocomplete-select',
          'data-autocomplete-select-placeholder' => "Select State" }
      ) %>
    </div>
  </div>

  <label class="gray-text mt-4 mb-1">ASSIGN VOLUNTEER</label>
  <div class="row pr-3 pb-4">
    <div class="col-6">
      <%= form.select(
        :volunteer_ids,
        User.where(role: :volunteer, status: :active).map { |volunteer| [volunteer.name, volunteer.id] },
        { include_hidden: false, selected: @student.active_student_volunteer_assignments.map(&:volunteer_id) },
        { 'data-controller' => 'autocomplete-select',
          'data-autocomplete-select-placeholder' => "Select Volunteer",
          multiple: true }
      ) %>
    </div>
  </div>

  <label class="gray-text mt-4 mb-1">ASSIGN STAFF CONTACT</label>
  <div class="row pr-3 pb-4">
    <div class="col-6">
      <%= form.select(
        :staff_id,
        User.where(role: :admin).map { |staff| [staff.name, staff.id] },
        { include_hidden: false, selected: @student.active_student_staff_assignment&.staff_id },
        { 'data-controller' => 'autocomplete-select',
          'data-autocomplete-select-placeholder' => "Select Staff" }
      ) %>
    </div>
  </div>

  <div class="row pr-3 pb-4 mt-4">
    <div class="col-2">
      <%= link_to "CANCEL", admin_students_path, class: "btn btn-lg btn-purple-secondary" %>
    </div>
    <div class="col-2">
      <%= form.submit "SAVE", class: "btn btn-lg btn-purple-primary" %>
    </div>
  </div>
<% end %>
