<% content_for(:title) do %>
  Students
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3><%= page_header_title %></h3>
    </div>
    <div class="col-md-2 offset-md-8">
      <%= link_to "ADD NEW", new_admin_student_path, class: "btn btn-purple-primary" %>
    </div>
  </div>

  <div class="row mt-3 white">
    <div class="col-md-2 offset-md-8">
      <button type="button" class="btn btn-purple-secondary" data-bs-toggle="modal" data-bs-target="#csvImportModal">IMPORT</button>
    </div>
    <div class="col-md-2">
      <%= link_to "EXPORT", admin_students_path(format: :csv), class: "btn btn-purple-secondary" %>
    </div>
  </div>
</div>

<%= render "students_table", records: @students %>

<%= render(
        layout: "admin/shared/csv_import_modal",
        locals: {
            title: "Import New Students",
            csv_template_url: "/students.csv",
            csv_import_url: admin_imports_students_path
        }
    ) do %>
    <ul>
      <li>Open the CSV file with excel or your favourite spreadsheet program.</li>
      <li>Delete the sample data and enter your student names and data in the appropriate columns.</li>
      <li>Save the file as a CSV file.</li>
    </ul>
<% end %>

