
<%= link_to 'Add Student', new_admin_student_path, class: "btn btn-secondary m-4"  %>

<table class="table m-4">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Guardian name</th>
      <th scope="col">DOB</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr scope="row">
        <td>
          <%= student.name %>
        </td>
        <td>
          <%= student.guardian_name %>
        </td>
        <td>
          <%= student.date_of_birth %>
        </td>
        <td>
          <%= student.status %>
        </td>
        <td>
          <%= link_to "edit", edit_admin_student_path(student) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
