
<%= link_to 'Add Student', new_admin_student_path, class: "btn btn-secondary m-2" %>
<button type="button" class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#csvImportModal">
  Import
</button>

<table class="table m-4">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Guardian name</th>
      <th scope="col">DOB</th>
      <th scope="col">Status</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr scope="row">
        <td>
          <%= student.name %>
        </td>
        <td>
          <%= student.guardian_name %>
        </td>
        <td>
          <%= student.date_of_birth %>
        </td>
        <td>
          <%= student.status %>
        </td>
        <td class="text-center">
          <%= link_to "Edit", edit_admin_student_path(student) %>
        </td>
        <% if student.status == "active" %>
          <td>
            <%= link_to "Deactivate", deactivate_admin_student_path(student), data: { confirm: "Are you sure?" }  %>
          </td>
        <% else %>
          <td>
            <%= link_to "Activate", activate_admin_student_path(student), data: { confirm: "Are you sure?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(
        layout: "admin/shared/csv_import_modal",
        locals: {
            title: "Import New Students",
            csv_template_url: "/students.csv",
            csv_import_url: "#"
        }
    ) do %>
  <p>Open the CSV file with excel or your favourite spreadsheet program.</p>
  <p>Delete the sample data and enter your student names and data in the appropriate
    columns.
  </p>
  <p>Save the file as a CSV file.</p>
<% end %>

