
<%= form_with(model: @volunteer, url: path) do |form| %>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
    </div>
  </div>

  <label class="text-dark-gray mt-4 mb-1">ASSIGN STUDENT</label>
  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.select(
        :student_ids,
        Student.where(status: :active).map { |student| [student.name, student.id] },
        { include_hidden: false, selected: @volunteer.student_volunteer_assignments.map(&:student_id) },
        { 'data-controller' => 'autocomplete-select',
          'data-autocomplete-select-placeholder' => "Search student and click to add",
          multiple: true }
      ) %>
    </div>
  </div>

  <div class="row pr-3 pb-4 mt-4">
    <div class="col-2">
      <%= link_to "CANCEL", admin_volunteers_path, class: "btn btn-lg btn-purple-secondary" %>
    </div>
    <div class="col-2">
      <%= form.submit "SAVE", class: "btn btn-lg btn-purple-primary" %>
    </div>
  </div>

<% end %>
