
<%= form_with(model: @volunteer, url: path) do |form| %>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-4">
      <%= form.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
    </div>
  </div>

  <div class="row pr-3 pb-4">
    <div class="col-1">
      <%= form.submit "Submit", class: "btn btn-secondary" %>
    </div>
    <div class="col-4">
      <% if @volunteer.persisted? %>
        <% if @volunteer.active? %>
          <%= link_to "Deactivate", deactivate_admin_volunteer_path(@volunteer),
                class: "btn btn-secondary",
                method: :patch,
                data: {
                  confirm_swal: "Are you sure?",
                  confirm_text: "DEACTIVATE",
                  text: "This action will deactivate this volunteer. Are you sure you want to proceed with deactivation?"
                }
             %>
          <% else %>
            <%= link_to "Activate", activate_admin_volunteer_path(@volunteer),
                class: "btn btn-secondary",
                method: :patch,
                data: {
                  confirm_swal: "Are you sure?",
                  confirm_text: "ACTIVATE",
                  text: "This action will activate this volunteer. Are you sure you want to proceed with activation?"
                }
            %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
