<table id="sortable">
  <thead>
    <tr>
      <th
        id="volunteers-first-name"
        data-reflex="click->VolunteersTable#sort"
        data-column="first_name"
        data-direction="asc"
        scope="col"
        class="hover:cursor-pointer"
      >
        <span>First name</span>
      </th>
      <th
        id="volunteers-last-name"
        data-reflex="click->VolunteersTable#sort"
        data-column="last_name"
        data-direction="asc"
        scope="col"
        class="hover:cursor-pointer"
      >
        <span>Last name</span>
      </th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Staff Contact</th>
      <th scope="col">Students</th>
      <th
        id="volunteers-status"
        data-reflex="click->VolunteersTable#sort"
        data-column="status"
        data-direction="asc"
        scope="col"
        class="hover:cursor-pointer"
      >
        <span>Status</span>
      </th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row">
      <td>
        <input
          type="text"
          name="first_name"
          data-reflex="input->VolunteersTable#filter"
          data-column="first_name"
          class="form-control">
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td class="text-center text-teal">
      </td>
    </tr>
    <% records.each do |volunteer| %>
      <tr scope="row">
        <td>
          <%= volunteer.first_name %>
        </td>
        <td>
          <%= volunteer.last_name %>
        </td>
        <td class="nowrap">
          <%= volunteer.email %>
        </td>
        <td class="nowrap">
          <%= format_phone_number(volunteer.phone_number) %>
        </td>
        <td>
          <%= volunteer.staff_names %>
        </td>
        <td>
          <%= volunteer.student_names %>
        </td>
        <td>
          <%= volunteer.status %>
        </td>
        <td class="text-center text-teal">
          <%= link_to "Edit", edit_admin_volunteer_path(volunteer) %> |
          <%= link_to "Send Link", send_link_admin_volunteer_path(volunteer), method: :post %> |

          <% if volunteer.active? %>
            <%= link_to "Deactivate", deactivate_admin_volunteer_path(volunteer), method: :patch, data: { confirm: "Are you sure?" } %>
          <% else %>
            <%= link_to "Activate", activate_admin_volunteer_path(volunteer), method: :patch, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
