<% content_for(:title) do %>
  Volunteers
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3><%= page_header_title %></h3>
    </div>
    <div class="col-md-2 offset-md-8">
      <%= link_to "ADD NEW", new_admin_volunteer_path, class: "btn btn-purple-primary m-2"  %>
    </div>
  </div>
  
  <div class="row">
    <form class="col-md-3 form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="&#x1F50D;" aria-label="Search">
    </form>
    <div class="col-md-1 offset-6">
      <button type="button" class="btn btn-purple-secondary m-2" data-bs-toggle="modal" data-bs-target="#csvImportModal">Import</button>
    </div>
    <div class="col-md-2">
      <%= link_to 'Export', admin_volunteers_path(format: :csv), class: "btn btn-purple-secondary m-2" %>
    </div>
  </div>
</div>

<table class="table">
  <thead class="table-gray">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Status</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr scope="row">
        <td>
          <%= volunteer.name %>
        </td>
        <td>
          <%= volunteer.email %>
        </td>
        <td>
          <%= volunteer.phone_number %>
        </td>
        <td>
          <%= volunteer.status %>
        </td>
        <td class="text-center teal-text">
          <%= link_to "Edit", edit_admin_volunteer_path(volunteer) %> |
          <%= link_to "Send Link", send_link_admin_volunteer_path(volunteer), method: :post %> |

          <% if volunteer.active? %>
            <%= link_to "Deactivate", deactivate_admin_volunteer_path(volunteer), method: :patch, data: { confirm: "Are you sure?" } %>
          <% else %>
            <%= link_to "Activate", activate_admin_volunteer_path(volunteer), method: :patch, data: { confirm: "Are you sure?" } %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render(
        layout: "admin/shared/csv_import_modal",
        locals: {
            title: "Import New Volunteers",
            csv_template_url: "/volunteers.csv",
            csv_import_url: admin_imports_volunteers_path
        }
    ) do %>
    <ul>
      <li>Open the CSV file with excel or your favourite spreadsheet program.</li>
      <li>Delete the sample data and enter you partner agency names and addresses in the appropriate columns.</li>
      <li>Save the file as a CSV file.</li>
    </ul>
<% end %>
