<% content_for(:title) do %>
  Volunteers
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3><%= page_header_title %></h3>
    </div>
    <div class="col-md-2 offset-md-8">
      <%= link_to "ADD NEW", new_admin_volunteer_path, class: "btn btn-purple-primary"  %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-2 offset-md-8">
      <button type="button" class="btn btn-purple-secondary" data-bs-toggle="modal" data-bs-target="#csvImportModal">IMPORT</button>
    </div>
    <div class="col-md-2">
      <%= link_to "EXPORT", admin_volunteers_path(format: :csv), class: "btn btn-purple-secondary" %>
    </div>
  </div>
</div>

<%= render "volunteers_table", volunteers: @volunteers %>

<%= render(
        layout: "admin/shared/csv_import_modal",
        locals: {
            title: "Import New Volunteers",
            csv_template_url: "/volunteers.csv",
            csv_import_url: admin_imports_volunteers_path
        }
    ) do %>
    <ul>
      <li>Open the CSV file with excel or your favourite spreadsheet program.</li>
      <li>Delete the sample data and enter you partner agency names and addresses in the appropriate columns.</li>
      <li>Save the file as a CSV file.</li>
    </ul>
<% end %>
