<table id="sortable">
  <thead>
    <tr>
      <th id="tickets-requested_by"
          data-reflex="click->TicketsTable#sort"
          data-column="users.first_name"
          data-direction="asc"
          scope="col"
          class="hover:cursor-pointer">
        <span>Requested By</span>
      </th>
      <th id="tickets-date-created"
          data-reflex="click->TicketsTable#sort"
          data-column="created_at"
          data-direction="asc"
          scope="col"
          class="hover:cursor-pointer">
        <span>Date Created</span>
      </th>
      <th scope="col">Response ID</th>
      <th id="tickets-student"
          data-reflex="click->TicketsTable#sort"
          data-column="students.last_name"
          data-direction="asc"
          scope="col"
          class="hover:cursor-pointer">
        <span>Student</span>
      </th>
      <th id="tickets-staff-contact"
          data-reflex="click->TicketsTable#sort"
          data-column="staffs_student_staff_assignments.last_name"
          data-direction="asc"
          scope="col"
          class="hover:cursor-pointer">
        <span>Staff Contact</span>
      </th>
      <th id="tickets-type"
          data-reflex="click->TicketsTable#sort"
          data-column="category"
          data-direction="asc"
          scope="col"
          class="hover:cursor-pointer">
        <span>Type</span>
      </th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |ticket| %>
      <tr scope="row">
        <td>
          <%= ticket.requestor.name %>
        </td>
        <td>
          <%= ticket.created_at.strftime('%m/%d/%Y') %>
        </td>
        <td>
          <%= ticket.survey_response_id %>
        </td>
        <td>
          <%= ticket.student_name %>
        </td>
        <td>
          <%= ticket.staff_contact_name %>
        </td>
        <td>
          <%= ticket.display_category %>
        </td>
        <td class="text-center text-teal">
          <%= link_to(ticket.display_status, admin_ticket_path(ticket)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
