
<%= link_to 'Add Ticket', new_admin_ticket_path, class: "btn btn-secondary m-2" %>
<%= link_to 'Export', admin_tickets_path(format: :csv), class: "btn btn-secondary m-2" %>

<table class="table m-4">
  <thead>
    <tr>
      <th scope="col">Requestor</th>
      <th scope="col">Student</th>
      <th scope="col">Created At</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr scope="row">
        <td>
          <%= ticket.requestor.name %>
        </td>
        <td>
          <%= ticket.survey_response&.student&.name || "N/A" %>
        </td>
        <td>
          <%= ticket.created_at %>
        </td>
        <td>
          <%= ticket.description %>
        </td>
        <td>
          <%= ticket.status.capitalize %>
        </td>
        <td>
          <%= link_to "view", admin_ticket_path(ticket) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
