<% content_for(:title) do %>
  Admins
<% end %>

<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-2">
      <h3><%= page_header_title %></h3>
    </div>
    <div class="col-2 offset-8">
      <%= link_to 'Add Ticket', new_admin_ticket_path, class: "btn btn-purple" %>
    </div>
  </div>
</div>

<%= link_to 'Export', admin_tickets_path(format: :csv), class: "btn btn-secondary m-2" %>

<table class="table m-4">
  <thead>
    <tr>
      <th scope="col">Requestor</th>
      <th scope="col">Student</th>
      <th scope="col">Created At</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr scope="row">
        <td>
          <%= ticket.requestor.name %>
        </td>
        <td>
          <%= ticket.survey_response&.student&.name || "N/A" %>
        </td>
        <td>
          <%= ticket.created_at %>
        </td>
        <td>
          <%= ticket.description %>
        </td>
        <td>
          <%= ticket.status.capitalize %>
        </td>
        <td class="text-center teal-text">
          <%= link_to "View", admin_ticket_path(ticket) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
