<% content_for(:title) do %>
  Tickets
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3><%= page_header_title %></h3>
    </div>
    <div class="col-md-2 offset-md-8">
      <%= link_to "ADD NEW", new_admin_ticket_path, class: "btn btn-purple-primary" %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-2 offset-md-10">
      <%= link_to "EXPORT", admin_tickets_path(format: :csv), class: "btn btn-purple-secondary" %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Requestor</th>
      <th scope="col">Student</th>
      <th scope="col">Created At</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr scope="row">
        <td>
          <%= ticket.requestor.name %>
        </td>
        <td>
          <%= ticket.survey_response&.student&.name || "N/A" %>
        </td>
        <td>
          <%= ticket.created_at.strftime('%m/%d/%Y') %>
        </td>
        <td>
          <%= ticket.description %>
        </td>
        <td>
          <%= ticket.status.capitalize %>
        </td>
        <td class="text-center teal-text">
          <%= link_to "View", admin_ticket_path(ticket) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
