<div class="container">
  <%= link_to "Back", admin_tickets_path %>

  <div class="pb-2">
    <h2>
      <%= @ticket.requestor.name %>
      <p class="text-dark-gray fs-5"><%= @ticket.display_category %> Request</p>
    </h2>
  </div>

  <div class="pb-2">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label class="text-dark-gray">DATE CREATED</label>
            <p><%= @ticket.created_at.to_date.to_formatted_s(:long) %></p>
          </div>
          <div class="col-3">
            <label class="text-dark-gray">CREATED BY</label>
            <p><%= @ticket.requestor.name %></p>
          </div>
          <div class="col-3">
            <label class="text-dark-gray">STUDENT</label>
            <p><%= @ticket.student_name %></p>
          </div>
          <div class="col-3">
            <label class="text-dark-gray">STAFF CONTACT</label>
            <p><%= @ticket.staff_contact_name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @ticket.closer.present? %>
    <div class="pb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <label class="text-dark-gray">CLOSE DATE</label>
              <p><%= @ticket.closed_at.to_date.to_formatted_s(:long) %></p>
            </div>
            <div class="col-3">
              <label class="text-dark-gray">CLOSED BY</label>
              <p><%= @ticket.closer.name %></p>
            </div>
            <div class="col-3">
              <label class="text-dark-gray">STATUS</label>
              <p><%= @ticket.display_status %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="pb-2">
    <div class="card shadow-sm">
      <div class="card-body">
        <label class="text-dark-gray">DESCRIPTION</label>
        <p class="card-text"><%= @ticket.description %></p>
      </div>
    </div>
  </div>

  <% if @ticket.closer.present? %>
    <div class="pb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <label class="text-dark-gray">RESOLUTION DESCRIPTION</label>
          <p class="card-text"><%= @ticket.closer_notes %></p>
        </div>
      </div>
    </div>
  <% end %>

  <% if @ticket.closer.blank? %>
    <%= form_with(model: @ticket, url: resolve_admin_ticket_url, method: :post) do |f| %>
      <label class="text-dark-gray mt-4 mb-1"></label>
      <div class="row pr-3 pb-2">
        <div>
          <%= f.text_area :closer_notes, class: "form-control", placeholder: "Describe how support request was resolved" %>
        </div>
      </div>

      <div class="row pr-3 pb-4 mt-4">
        <div class="col-2">
          <%= link_to "CANCEL", admin_tickets_path, class: "btn btn-lg btn-purple-secondary" %>
        </div>
        <div class="col-2">
          <%= f.submit "RESOLVE", class: "btn btn-lg btn-purple-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
