<div id="sidebar-wrapper" class="bg-white">
  <div class="list-group list-group-flush">
    <%= link_to root_path, class: "list-group-item list-group-item-action p-3" do %>
      <%= render inline: Rails.root.join('node_modules', '@fluentui', 'svg-icons', 'icons', 'home_20_regular.svg').read %> Home
    <% end %>

    <%= link_to admin_volunteers_path, class: "list-group-item list-group-item-action p-3" do %>
      <%= render inline: Rails.root.join('node_modules', '@fluentui', 'svg-icons', 'icons', 'people_community_20_regular.svg').read %> Volunteers
    <% end %>

    <%= link_to admin_students_path, class: "list-group-item list-group-item-action p-3" do %>
      <%= render inline: Rails.root.join('node_modules', '@fluentui', 'svg-icons', 'icons', 'people_20_regular.svg').read %> Students
    <% end %>

    <%= link_to admin_admin_users_path, class: "list-group-item list-group-item-action p-3" do %>
      <%= render inline: Rails.root.join('node_modules', '@fluentui', 'svg-icons', 'icons', 'people_toolbox_20_regular.svg').read %> Admins
    <% end %>

    <%= link_to root_path, class: "list-group-item list-group-item-action p-3" do %>
      <%= render inline: Rails.root.join('node_modules', '@fluentui', 'svg-icons', 'icons', 'clipboard_bullet_list_ltr_20_regular.svg').read %> Surveys
    <% end %>
    
    <%= link_to admin_tickets_path, class: "list-group-item list-group-item-action p-3" do %>
      <%= render inline: Rails.root.join('node_modules', '@fluentui', 'svg-icons', 'icons', 'ticket_diagonal_20_regular.svg').read %> Tickets
    <% end %>
    
    <%= link_to root_path, class: "list-group-item list-group-item-action p-3" do %>
      <%= render inline: Rails.root.join('node_modules', '@fluentui', 'svg-icons', 'icons', 'content_view_20_regular.svg').read %> Reports
    <% end %>

    <small class="list-group-item list-group-item-light p-3">&copy; 2021 <strong>Made by Ruby for Good</strong></small>
  </div>
</div>