<nav id="topbar" class="navbar navbar-expand-lg navbar-dark dark-purple border-bottom">
  <div class="container-fluid">

    <a class="navbar-brand dark-purple inkind-logo">
      <%= t(:title) %>
    </a>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
          <div class="row">
            <div class="col">
              <a class="nav-link" href="#">
                <%= render inline: Rails.root.join('app', 'assets', 'images', 'fluent_icons', 'solid', 'ic_fluent_alert_24_filled.svg').read %>
              </a>
            </div>
            <div class="col">
              <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_user_avatar_url, class: "avatar" %>
                <!-- <%= current_user.name %> -->
              </a>
          
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to(t(".user_menu.edit_profile"), edit_user_registration_path, class: "dropdown-item" ) %>
                <div class="dropdown-divider"></div>
                <%= link_to(t(".admin_menu.edit_organization"), edit_admin_organization_path(1), class: "dropdown-item" ) %>
                <div class="dropdown-divider"></div>
                <%= link_to(t(".user_menu.logout"), destroy_user_session_path, class: "dropdown-item" ) %>
              </div>
            </div>
            
          </div>
        <% else %>
          <%= link_to(t(".user_menu.login"), new_user_session_path, class: "nav-link" ) %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
