<nav id="paginator">
  <ul class="pagination">
    <li class="page-item"><a href="#" class="page-link" data-reflex=<%= "click->#{@nav}TableReflex#paginate" %> data-page="<%= prev_page %>">â†</a></li>
    <% @pagy.series.each do |item| %>
      <% if item == :gap %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
      <% else %>
        <li class="page-item <%= "active" if item.is_a?(String) %>">
          <a href="#" class="page-link" data-reflex=<%= "click->#{@nav}TableReflex#paginate" %> data-page="<%= item %>"><%= item %></a>
        </li>
      <% end %>
    <% end %>
    <li class="page-item"><a href="#" class="page-link" data-reflex=<%= "click->#{@nav}TableReflex#paginate" %> data-page="<%= next_page %>">â†’</a></li>
  </ul>
</nav>
