<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">

    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/application/topbar" %>

    <div class="d-flex" id="wrapper">
      <%= render "layouts/application/sidebar" %>

      <div id="page-content-wrapper">

        <div class="container-fluid p-3">
          <%= flash_banner(:alert, flash[:alert]) %>
          <%= flash_banner(:notice, flash[:notice]) %>

          <h1><%= page_header_title %></h1>

          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
