<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'partials/navbar' %>
    </header>

    <%# Flash message for alerts and notices %>
    <% if flash[:alert] %>
      <div role="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div role="alert"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

    <footer>
      <small>&copy; 2021 <strong>Made with ❤️ by Ruby for Good</strong></small>
    </footer>
  </body>
</html>
