<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <title><%= page_title %></title>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <%= render 'layouts/application/sidebar' %>

      <div id="page-content-wrapper">
        <%= render 'layouts/application/topbar' %>

        <div class="container-fluid">
          <% if flash[:alert] %>
            <div role="alert"><%= flash[:alert] %></div>
          <% end %>
          <% if flash[:notice] %>
            <div role="alert"><%= flash[:notice] %></div>
          <% end %>

          <h1><%= page_header_title %></h1>

          <%= yield %>

          <footer>
            <small>&copy; 2021 <strong>Made with ❤️ by Ruby for Good</strong></small>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
